<p><a routerLink="/about">Go About</a></p>
<p><a (click)="navigate()">Constructor Injection</a></p>

<section align="center">
    <div>
        <h1 class="main-content">
            <a class="btn btn-medium btn-secondary mt-2">Courses</a>
            <a class="btn btn-medium btn-primary mt-2 ms-1">Templates</a>
        </h1>
    </div>
</section>

<div class="row mt-3">
    @for(course of courses;track $index)
    {
        <div class="col-lg-3">
            <app-courses [course]="course"></app-courses>
        </div>
    }
</div>