.card {
    width: 70%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
    .card-header{
        font-size: 1.8 rem;
    }
    button{
        width: 10rem;
        font-size: 1rem;
    }
}
.imageDiv{
    img{
    height: 3 rem;
    width: 3 rem;
    }
}